.notesPage {
  width: 100%;
  min-height: 100vh;
  padding: calc(2em + 15vw) 0 calc(2em + 5vw) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.container {
  width: 100vw;
  padding: 2em 1.5em;
  max-width: 1400px;
}

.subtitle {
  font-size: 1.1em;
  margin-bottom: 3em;
}

.empty {
  text-align: center;
  padding: 3em 0;
}

.postList {
  list-style: none;
  padding: 0;
  margin: 5em 0;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.postItem {
  padding: 2.5em 0;
  border-bottom: 0.5px solid rgba(var(--foreground-rgb), 0.15);
}

.postLink {
  text-decoration: none;
  color: inherit;
  display: flex;

  &:hover {
    .postTitle {
      color: rgb(var(--primary-rgb));
    }
  }
  
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
}

.postPreview {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.postHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
  width: 100%;
  margin-bottom: 1em;

  h2 {
    width: auto;
  }
}

.postTitle {
  margin: 0;
  padding: 0;
  transition: color 0.1s;
}

.postDescription {
  // font-size: 1em;
  line-height: 1.6;
  margin: 0;
}

.postDate {
  display: flex;
  position: relative;
  font-size: 0.65em;
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 0.65em;
  width: max-content;
  background: white;
}

.backLink {
  display: inline-block;
  margin-bottom: 2em;
  text-decoration: none;
  color: inherit;
  font-size: 0.95em;
  
}

.postArticle {
  width: 100%;
}


.postContent {
  line-height: 1.8;
  font-size: 1.05em;
}

@media screen and (min-width: 768px) {
  .postLink {
    article {
      gap: 2em;
    }
  }
  
  .imageContainer {
    width: 25%;
    // min-width: 100px;
  }
  
  .postPreview {
    flex: 1;
  }
}

