.notesPage {
  padding-top: 8em;
  min-height: 100vh;
  width: 100%;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 2em 1.5em;
  width: 100%;

  h1 {
    margin-bottom: 2em;
  }
}

.notesList {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.note {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 2em;
  border-bottom: 1px dotted rgba(var(--foreground-rgb), 0.1);

  &:last-child {
    border-bottom: none;
  }
}

.content {
  font-family: 'indivisible', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.65;
  opacity: 0.9;

  p {
    margin-bottom: 1em;
    opacity: 0.9;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: rgb(var(--foreground-rgb));
    text-decoration: underline;
    opacity: 0.8;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }
}

.date {
  font-family: 'indivisible', sans-serif;
  font-size: 0.9em;
  opacity: 0.6;
  font-weight: 400;
}

