// Footer-specific styles used in layout.tsx
.logo {
    height: 2.3em;
    order: 1;
}

.brand {
    width: 100%;
    margin-top: 2em;
    flex: auto;
    order: 4;

    h4, p {
        padding: 0;
        margin: 0;
    }

    p { 
        font-size: 0.9em; 
    }
}

@media screen and (min-width: 980px) {
    .brand {
        width: auto;
        flex: 1;
        margin-top: 0;
        order: 2;
    }
}
