.email {
    position:fixed;
    top: 2em;
    right: 1.5em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    background: rgb(var(--bright-rgb));
    color: rgb(var(--dark-rgb));
    font-family: 'indivisible', sans-serif;
    font-weight: 500;
    z-index: 3;
    mix-blend-mode: difference;
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 5vw 0;

    color: rgb(var(--bright-rgb));

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    svg {
        animation: 0.5s infinite alternate bounce;
    }

    @keyframes bounce {
        from {
            translate: 0 0;
        }

        to {
            translate: 0 0.25em;
        }
    }

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        filter: brightness(50%);
    }
}

.split {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    .content, img, video {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        aspect-ratio: 5/4;
        text-align: center;

        &.invert {
            background: rgb(var(--foreground-rgb));
            color: rgb(var(--background-rgb));
        }

    }
}

.disrupt {
    position: relative;
    width: 100%;
    height: 70vh;
    background-color: rgb(var(--background-rgb));
    filter: brightness(90%);

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.featured {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vw 1em;
    text-align: center;
    gap: calc(3em + 10vw);

    .case {
        display: flex;
        flex-direction: column;
        gap: calc(1em + 2vw);
        aside {
            text-align: left;
            width: 100%;
        }
        .gallery {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1em;
            width: 100%;

            img {
                width: 100%;
            }
        }
    }
}

.cv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-bottom: 2em;
    border-radius: 1em;
    width: 100%;
    padding: 10vw 1em;

    h4.title {
        margin-bottom: 2em;
    }

    .row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5em;
        gap: 0.5em;
        color: inherit;
        text-decoration: inherit;

        p {
            font-size: 0.9em;
            color: rgb(var(--foreground-rgb));

            &.desc {
                opacity: 0.4;
            }
        }

        

        &:hover {
            p {
                color: rgb(var(--emphasis-rgb));
                opacity:1;
                &.desc {
                    color: rgb(var(--foreground-rgb));
                    opacity: 0.4;
                }
            }
        }
    }

}

.brand {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    width: 100%;
    min-width: 300px;
    max-width: fit-content;

    .logo {
        height: 2.3em;
        margin: 0.25em 1.5em 0 0;
    }

    .text {
        width: 100%;

        h4,
        p {
            padding: 0;
            margin: 0;
        }

        p {
            font-size: 0.9em;
        }
    }
}


.network {
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-shrink: 0;
    max-width: fit-content;

    img {
        height: 24px;
    }
}


@media screen and (min-width: 980px) {
    .split {
        flex-direction: row;
        &.flipped { flex-direction: row-reverse; }
        div, img, video {
            width: 50%;
        }
    }

    .featured {
        .case {
            flex-direction: row;
            aside {
                width: 25%;
            }
            .gallery {
                width: 75%;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: stretch;
                img {
                    object-fit: cover;
                }
                .half { width: calc(50% - 0.5em); }
            }
        }
    }

    .cv {
        padding: 10vw calc(1em + 25% + 2vw);
    }
}