.services {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    padding: calc(2em + 5vw) 1.5em;
    max-width: 1400px;

    .blob {
        filter: contrast(1000%);
        background: white;
        mix-blend-mode: darken;
        padding-left: 1em;
        margin-left: -1em;
    }

    .list {
        display: flex;
        flex-direction: column;
        width: 100%;
        ol {
            margin: 0;
            font-size: 0.9em;
            opacity: 0.7;
            line-height: 1.65;
        }
    }
}

@media screen and (min-width: 980px) {
    .services {
        .list {
            flex-direction: row;
        }
        h4, ol {
            width: 50%;
        }
    }
}

