.services {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    padding: calc(2em + 5vw) 1.5em;
    max-width: 1400px;

    ol {
        margin: 0;
        font-size: 0.9em;
        opacity: 0.7;
        line-height: 1.65;
    }

    .list {
        // Additional styles for the list container if needed
    }
}

@media screen and (min-width: 980px) {
    .services {
        flex-direction: row;
        div, ol {
            width: 50%;
        }
    }
}

