@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 12, 12, 12;
  --background-rgb: 235, 235, 235;
  --bright-rgb: 237, 237, 237;
  --dark-rgb: 12, 12, 12;
  --emphasis-rgb: 0, 0, 0;
  }

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 237, 237, 237;
    --background-rgb: 12, 12, 12;
    --emphasis-rgb: 255, 255, 255;
  }
} */

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
  overflow-x: none;
}

section {
  z-index: 5;
  background: rgb(var(--background-rgb));
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 3em 1.5em;
  gap: 1em;
  border-top: 1px dotted rgba(var(--foreground-rgb), 0.1);
  background: rgb(var(--background-rgb));

  p {
    span {
      padding-right: 0.75em;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1, h2, h3, h4, p {
  max-width: 1000px;
  margin: 0;
}

h1 {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
  width: 80%;
  /* font-family: 'scotch-display', serif; */
  font-family: 'indivisible', var(--font-ibm-plex-sans), sans-serif;
  font-weight: 700;
  font-size: clamp(2em, 8vw, 8em);
  line-height: 100%;
  letter-spacing: -0.07em;
  margin-bottom: 0.25em;
  margin-left: -0.07em;
  filter: blur(0.25vw);
}
h2 {
  width: 70%;
  /* font-family: 'scotch-display', serif; */
  font-family: 'indivisible', var(--font-ibm-plex-sans), sans-serif;
  font-weight: 400;
  font-size: clamp(2em, 4vw, 4em);
  line-height: 0.9em;
  padding: 0 0 0.5em 0;
}
h3 {
  width: 70%;
  font-family: 'indivisible', serif;
  font-size: clamp(1.15em, 2vw, 1.5em);
  font-weight: 500;
  padding: 0 0 0.75em 0;
}
h4 {
  font-family: 'indivisible', serif;
  font-size: 1em;
  font-weight: 500;
  padding-bottom: 0.75em;
}
h5 {
  width: 70%;
  font-family: 'indivisible', sans-serif;
  font-size: clamp(1.15em, 2vw, 1.35em);
  font-weight: 400;
  max-width: 700px;
}
p {
  font-family: 'indivisible', sans-serif;
  font-size: 1em;
  font-weight: 400;
  opacity: 0.7;
}

ul {
  position: relative;
  font-size: 0.9em;
  margin: 1em 0 0 0;
  opacity: 0.7;
  line-height: 1.65;

  &:before {
    content: attr(aria-label);
    display: block;
  }

  li { 
    display: inline;
    opacity: 0.6;

    &:not(:first-child) {
      text-transform: lowercase;
      .proper {
        text-transform: none;
      }
    }

    &:after {
      content: ', ';
    }
    &:last-child:after {
      content: '';
    }
  }
}

hr {
  flex: 1;
  border: none;
  border-top: 1px dotted rgba(107, 117, 127, 0.25);
  transform: translateY(3px);
}

@media screen and (min-width: 980px) {
  footer {
    padding: calc(2em + 1vw) calc(1em + 1vw);
  }
  ul {
    li {
      display: block;
      &:not(:first-child) {
        text-transform: none;
      }
      &:after {
        content: '';
      }
    }
  }
}

/* Notes section - RSS feed content styling */
.notesContent {
  p {
    margin-bottom: 1.5em;
    opacity: 0.9;
  }
  
  h2, h3, h4 {
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: 600;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  h3 {
    font-size: 1.3em;
  }
  
  h4 {
    font-size: 1.1em;
  }
  
  img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin: 2em 0;
  }
  
  a {
    color: inherit;
    text-decoration: underline;
    opacity: 0.8;
    
    &:hover {
      opacity: 1;
    }
  }
  
  ul, ol {
    margin: 1.5em 0;
    padding-left: 2em;
    
    li {
      margin-bottom: 0.5em;
      opacity: 0.9;
      display: list-item;
    }
  }
  
  blockquote {
    border-left: 3px solid rgba(var(--foreground-rgb), 0.2);
    padding-left: 1.5em;
    margin: 2em 0;
    font-style: italic;
    opacity: 0.8;
  }
  
  code {
    background: rgba(var(--foreground-rgb), 0.1);
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-size: 0.9em;
  }
  
  pre {
    background: rgba(var(--foreground-rgb), 0.05);
    padding: 1em;
    border-radius: 4px;
    overflow-x: auto;
    margin: 2em 0;
    
    code {
      background: none;
      padding: 0;
    }
  }
  
  /* Hide subscription widgets and other Substack-specific elements */
  .subscription-widget-wrap-editor,
  .subscription-widget,
  [class*="subscription"] {
    display: none;
  }
}