@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 12, 12, 12;
  --background-rgb: 235, 235, 235;
  --bright-rgb: 237, 237, 237;
  --dark-rgb: 12, 12, 12;
  --emphasis-rgb: 0, 0, 0;
  }

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 237, 237, 237;
    --background-rgb: 12, 12, 12;
    --emphasis-rgb: 255, 255, 255;
  }
} */

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
  overflow-x: none;
}

section {
  z-index: 5;
  background: rgb(var(--background-rgb));
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 3em 1.5em;
  gap: 1em;
  border-top: 1px dotted rgba(var(--foreground-rgb), 0.1);
  background: rgb(var(--background-rgb));

  p {
    span {
      padding-right: 0.75em;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1, h2, h3, h4, p {
  max-width: 1000px;
  margin: 0;
}

h1 {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
  width: 80%;
  /* font-family: 'scotch-display', serif; */
  font-family: 'indivisible', var(--font-ibm-plex-sans), sans-serif;
  font-weight: 700;
  font-size: clamp(2em, 8vw, 8em);
  line-height: 100%;
  letter-spacing: -0.07em;
  margin-bottom: 0.25em;
  margin-left: -0.07em;
  filter: blur(3px);
}
h2 {
  width: 70%;
  /* font-family: 'scotch-display', serif; */
  font-family: 'indivisible', var(--font-ibm-plex-sans), sans-serif;
  font-weight: 400;
  font-size: clamp(2em, 4vw, 4em);
  line-height: 0.9em;
  padding: 0 0 0.5em 0;
}
h3 {
  width: 70%;
  font-family: 'indivisible', serif;
  font-size: clamp(1.15em, 2vw, 1.5em);
  font-weight: 500;
  padding: 0 0 0.75em 0;
}
h4 {
  font-family: 'indivisible', serif;
  font-size: 1em;
  font-weight: 500;
  padding-bottom: 0.75em;
}
h5 {
  width: 70%;
  font-family: 'indivisible', sans-serif;
  font-size: clamp(1.15em, 2vw, 1.35em);
  font-weight: 400;
  max-width: 700px;
}
p {
  font-family: 'indivisible', sans-serif;
  font-size: 1em;
  font-weight: 400;
  opacity: 0.7;
}

ul {
  position: relative;
  font-size: 0.9em;
  margin: 1em 0 0 0;
  opacity: 0.7;
  line-height: 1.65;

  &:before {
    content: attr(aria-label);
    display: block;
  }

  li { 
    display: inline;
    opacity: 0.6;

    &:not(:first-child) {
      text-transform: lowercase;
      .proper {
        text-transform: none;
      }
    }

    &:after {
      content: ', ';
    }
    &:last-child:after {
      content: '';
    }
  }
}

hr {
  flex: 1;
  border: none;
  border-top: 1px dotted rgba(107, 117, 127, 0.25);
  transform: translateY(3px);
}

@media screen and (min-width: 980px) {
  footer {
    padding: calc(2em + 1vw) calc(1em + 1vw);
  }
  ul {
    li {
      display: block;
      &:not(:first-child) {
        text-transform: none;
      }
      &:after {
        content: '';
      }
    }
  }
}