@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --foreground-rgb: 28, 28, 28;
  --background-rgb: 235, 235, 235;
  --bright-rgb: 237, 237, 237;
  --dark-rgb: 28, 28, 28;
  --emphasis-rgb: 0, 0, 0;
  }

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 237, 237, 237;
    --background-rgb: 28, 28, 28;
    --emphasis-rgb: 255, 255, 255;
  }
}

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 3em 2em;
  gap: 1em;
  border-top: 1px dotted rgba(var(--foreground-rgb), 0.1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1, h2, h3, h4, p {
  max-width: 1000px;
  margin: 0;
}

h1 {
  width: 80%;
  font-family: 'scotch-display', serif;
  font-size: clamp(1.5em, 5vw, 2.75em);
  padding: 1em 0;
}
h2 {
  width: 70%;
  font-family: 'scotch-display', serif;
  font-size: clamp(1.5em, 4vw, 2.5em);
  padding: 0 0 0.5em 0;
}
h3 {
  width: 70%;
  font-family: 'indivisible', serif;
  font-size: clamp(1.15em, 2vw, 1.5em);
  font-weight: 500;
  padding: 0 0 0.75em 0;
}
h4 {
  font-family: 'indivisible', serif;
  font-size: 1em;
  font-weight: 500;
  padding-bottom: 0.75em;
}
h5 {
  width: 70%;
  font-family: 'indivisible', sans-serif;
  font-size: clamp(1.15em, 2vw, 1.35em);
  font-weight: 400;
}
p {
  font-family: 'indivisible', sans-serif;
  font-size: 1em;
  font-weight: 400;
  opacity: 0.7;
}

ul {
  position: relative;
  font-size: 0.9em;
  margin: 1em 0 0 0;
  opacity: 0.7;
  line-height: 1.65;

  &:before {
    content: attr(aria-label);
    display: block;
  }

  li { 
    display: inline;
    opacity: 0.6;

    &:not(:first-child) {
      text-transform: lowercase;
      .proper {
        text-transform: none;
      }
    }

    &:after {
      content: ', ';
    }
    &:last-child:after {
      content: '';
    }
  }
}

hr {
  flex: 1;
  border: none;
  border-top: 1px dotted rgba(107, 117, 127, 0.25);
  transform: translateY(3px);
}

@media screen and (min-width: 980px) {
  ul {
    li {
      display: block;
      &:not(:first-child) {
        text-transform: none;
      }
      &:after {
        content: '';
      }
    }
  }
}